/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 janv. 2017, 11:51:18
   
*/

 .landing{
    margin-top: 100px;
}

body{
  
    font-family: $police;
}

.conteHeader{
    padding: 100px;
    background-color: #563d7c;
    
}

.logoContacte{
    
}


section {
    text-align: center;
    
}

ul{
    list-style: none;
    width: 100%;
}

.container-fluid{
    /*background-color: red;*/
/*    margin-bottom:  20px;*/
}
h2{
    text-align: left;
    background-color: #B69796;
    font-size: 50px;
    font-family: $policetitre;
    padding: 5px;

}
.navbar{
    margin-bottom: 0px;
    
  
}

.paragraphe{
    padding: 20px 20px 20px 20px;
    margin-bottom: 0;
   
  
}


footer{
    text-align: center;
    margin: 30px 30px 30px 30px;
}

.ecole{
    margin-top: 72px;
}

.texteHome{
    background-color: #F5F5F5;
    padding: 0;
}

.insctrip{
    position: absolute;
}
.insctrip>p{
    text-align:center;
    padding: 5px;
}

.border{
    border-style: solid;
    border-width: 2px;
    border-color: #850606;
    border-radius: 10px;
}
.margin{
    margin-bottom: 20px;
}

.texte{
    text-align: justify;

}

.visibilyty{
    visibility: hidden;
}

.positionform{
    padding-top: 18px;
}
